/*Para que se vea "igual" en todos los navegadores (quita paddings,marings, etc, dados por el navegador*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*KEYFRAMES*/
@-moz-keyframes slider { /*FF 13 -16 */
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-webkit-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-ms-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-khtml-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-o-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@keyframes slider { /* W3C starndard*/
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@keyframes slider { /* W3C starndard*/
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
/* INICIO DE CSS PROPIO/CLASE*/
/*carlcheo.com lotro programming language
http://www.webdesignerdepot.com/2015/02/3-cool-css3-image-hover-effects/
https://css-tricks.com/guide-svg-animations-smil/
http://soyfrontend.com/guia-visual-aprender-flexbox-css3/


*/
*{
    font-size: 16pt;
}
h1,h2,h3{
    font-family: Calibri, "Times New Roman", Arial;
}
h1{
    font-size: 150%;
}
h2
{
    font-size: 130%;
}
h3{
    font-size: 110%;
}
div#wrapper{
    display: flex;
    top:30px;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    padding-top:35px ;
    justify-content: center;
}

.navResponsive{
    display: flex;
    top:0;
    left:0;
    background-color: beige;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-direction: row;
}
.listaNav{
    display: flex;
    justify-content: center;
}
.listaNav li{
    padding: 10px;
}
.listaNav li a{
    text-decoration: none;
}
.listaNav li:hover{
    border-radius: 5px 10px 15px 20px;
    background-color: darkkhaki;
}
.search{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
}
#search input[type="text"] {
    background: url(../img/search-dark.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}
.tituloSVG {
    fill: transparent;
    stroke-dasharray: 176 266;
    stroke-dashoffset: 212;
    stroke-width: 8px;
    stroke: #19f6e8;
}
@-webkit-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}

@-moz-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}
@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -252;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}
.header:hover .tituloSVG{
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}
div#GaleriaSlider{
    display: flex;
    justify-content: center;
    height: 300px;
}

.slider figure{
    opacity: 0;
    position: absolute;
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 30.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 30.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0s;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

.slider figure:nth-child(2), .slider figure:nth-child(2) img{
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slider figure:nth-child(3), .slider figure:nth-child(3) img{
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slider figure:nth-child(4), .slider figure:nth-child(4) img{
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slider figure:nth-child(5), .slider figure:nth-child(5) img{
    -webkit-animation-delay: 24.0s;
    -moz-animation-delay: 24.0s;
}
.slider figure img{
    height: 300px;
}
.mainclass{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
}
.mainclass section{
    display: flex;
    justify-content: space-around;
    /*viewportheight*/


}
.mainDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section > h2{
    display: flex;
    justify-content: center;
    padding:10px;
}
section div > img{
    border-radius: 50%;
}
section > p {
    padding: 3%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.productos section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 32%;
    padding: 10px;
}
.divProd img{
    border-radius: 0%;
    width: 300px;

}
footer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
ul li{
    display: inline-flex;
}
footer li a{
    width: 48px;
    height: 48px;
    background: url(../img/sprites-social.png) #010101 no-repeat;
}
.imgTwitter a{
    background-position: 0px 0;
}
.imgTwitter:hover a{
    background-position: 0px -48px;
}
.imgFacebook a{
    background-position: -48px 0;
}
.imgFacebook:hover  a{
    background-position: -48px -48px;
}
.imgLinkedin a{
    background-position: -144px 0;
}
.imgLinkedin:hover a{
    background-position: -144px -48px;
}

@media (min-width: 320px) {
    #wrapper{
        width: 100%;
    }
    nav#nav-web{
        display: none;
    }
    .search{
        display: none;
    }
    .productos {
        flex-direction: column;

    }
    .productos section{
        flex-direction: column;
    }
    section div > img {
        border-radius: 50%;
        width: 100%;
    }
    .mainclass section {
        flex-wrap: wrap;
    }
}
@media (min-width: 544px) {
    #wrapper{
        width: 100%;
    }
    nav#nav-web{
        display: none;
    }
    .search{
        display: none;
    }
    .productos{
        flex-direction: column;

    }
    .productos section{
        flex-direction: column;

    }
    section div > img {
        border-radius: 50%;
        width: 100%;
    }
    .mainclass section {
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) {
    nav#nav-web{
        display: none;
    }
    .search{
        display: none;
    }
    .productos {
        flex-direction: row;

    }
    .productos section{
        flex-direction: row;

    }
    section div > img {
        border-radius: 50%;
        width: 100%;
    }
    .mainclass section {
        flex-wrap: wrap;
    }

}
@media (min-width: 992px) {
    nav#nav-web{
        display: flex;
    }
    .search{
        display: flex;
    }
    .productos {
        flex-direction: row;

    }
    .productos section{
        flex-direction: row;

    }
    .mainclass section {
        flex-wrap: nowrap;
    }
    section div > img {
        border-radius: 50%;
        width: auto;
    }
}
@media (min-width: 1200px) {
    nav#nav-web{
        display: flex;
    }
    .search{
        display: flex;
    }
    .productos {
        flex-direction: row;

    }
    .productos section{
        flex-direction: row;

    }
    .mainclass section {
        flex-wrap: nowrap;
    }
    section div > img {
        border-radius: 50%;
        width: auto;
    }
}
