/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*Para que se vea "igual" en todos los navegadores (quita paddings,marings, etc, dados por el navegador*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*KEYFRAMES*/
@-moz-keyframes slider { /*FF 13 -16 */
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-webkit-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-ms-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-khtml-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@-o-keyframes slider {
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@keyframes slider { /* W3C starndard*/
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
@keyframes slider { /* W3C starndard*/
    0%{ left: 0%;}
    20%{ left: 0%;}
    25%{ left: -100%;}
    45%{ left: -100%;}
    50%{ left: -200%;}
    70%{ left: -200%;}
    75%{ left: -300%;}
    95%{ left: -300%;}
    100%{ left: -400%;}
}
/* INICIO DE CSS PROPIO/CLASE*/

*{
    font-size: 16pt;
}
h1,h2,h3{
    font-family: Calibri, "Times New Roman", Arial;
}
h1{
    font-size: 150%;

}
h2
{
    font-size: 130%;
}
h3{
    font-size: 110%;
}
#wrapper{
    position: relative;
    top:30px;

}
#wrapper > header{
    width: 10%;
    margin: 0 auto;
}
div > nav{
    position: fixed;
    top:0;
    left:0;
    height: 30px;
    width: 100%;
    background-color: beige;

}
nav ul{
    width: 550px;
    margin: 0 auto;

}
nav ul li{
    float: left;
    padding: 10px 15px;
    border-radius: 5px 10px 15px 20px;
}
nav ul li:hover{
    background-color: darkkhaki;
}
nav ul li a{
    text-decoration: none;
}

section{
    padding: 30px;
}
section img{
    float: left;
    width: 500px;
    height: 300px;
    padding-right: 20px;
    border-radius: 50%;
}
footer{
    padding-top: 20px;
}
footer li a{
    float: right;
    width: 48px;
    height: 48px;
    display: block;
    background: url(../img/sprites-social.png) #010101 no-repeat;

}
.imgTwitter a{
    background-position: 0px 0;
}
.imgTwitter:hover a{
    background-position: 0px -48px;
}
.imgFacebook a{
     background-position: -48px 0;
 }
.imgFacebook:hover  a{
    background-position: -48px -48px;
}
.imgLinkedin a{
    background-position: -144px 0;
}
.imgLinkedin:hover a{
    background-position: -144px -48px;
}

/*SLIDER HTML5+CSS*/
/*
div#GaleriaSlider{
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}
figure.slider{
    position: relative;
    width: calc(100%*5);
    font-size: 0%;
    padding: 0;
    animation: 15s sliderr infinite;
}
figure.slider figure{
    width:  calc(100%/5);
    height: auto;
    display: inline-block;
    position: inherit;

}
figure.slider img{

    c
    border-radius: 0%;
}
/* //Para poner titulo visible abajo//
figure.slider figure figcaption{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: aquamarine;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}*/
@-webkit-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}

@-moz-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}


div#GaleriaSlider{
    position: relative;
    width: 50%;
    height: 300px;
    margin: 0 auto;
}
.slider figure{
    opacity: 0;
    position: absolute;
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 30.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 30.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0s;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

.slider figure:nth-child(2), .slider figure:nth-child(2) img{
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slider figure:nth-child(3), .slider figure:nth-child(3) img{
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slider figure:nth-child(4), .slider figure:nth-child(4) img{
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slider figure:nth-child(5), .slider figure:nth-child(5) img{
    -webkit-animation-delay: 24.0s;
    -moz-animation-delay: 24.0s;
}
.slider figure img{
    display: block;
    width: 100%;
    height: 300px;
}
.clearfix:before, .clearfix:after {content: ""; display: table}
.clearfix:after {clear:both;}
@media (min-width: 320px) {
    nav#nav-web{
        display: none;
    }
}
@media (min-width: 544px) {
    nav#nav-web{
        display: none;
    }
}
@media (min-width: 768px) {
    nav#nav-web{
        display: none;
    }
}
@media (min-width: 992px) {
    nav#nav-web{
        display: block;
    }
}
@media (min-width: 1200px) {
    nav#nav-web{
        display: block;
    }
}
